/* Error: This file is already being loaded.
 *    ,
 * 11 | @import "input";
 *    |         ^^^^^^^
 *    '
 *   index.scss 11:9    @import
 *   ..\index.scss 2:9  @import
 *   input.scss 1:9     local stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a    \2577 \a 11 \2502  @import "input";\a    \2502          ^^^^^^^\a    \2575 \a   index.scss 11:9    @import\a   ..\\index.scss 2:9  @import\a   input.scss 1:9     root stylesheet';
}
