@import "../@variants/constant";
@import "../@variants/color";

$Title_Height: 60px;
$Contents_Height: calc(100% - $Title_Height);

.BookPage {
  width: $full;
  height: $height_body;
  .BookContents {
    width: $width_contents;
    height: $height_body;
    border-right: $Divider_Border;
    position: absolute;
    overflow: hidden;
    .Title {
      @include xFlex;
      @include FlexCenter;
      width: $width_contents;
      height: $Title_Height;
      padding: 0 10px;
      > :first-child {
        @include title_font;
        max-width: 60%;
        padding-left: 10px;
      }
    }
    .Contents {
      @include ScrollY;
      width: $width_contents;
      height: $Contents_Height;
      padding-bottom: 20px;
    }
  }
  .BookArea {
    @include ScrollY;
    @include ScrollBar;
    @include Max;
    position: absolute;
    right: 0;
    width:$width_body;
    height: $height_body;
    background-color:$bc_default;
    .BookBody {
      margin: auto;
      width: min(100%, 900px);
      padding: 20px 20px 60px;
      .BodyTitle {
        width: 100%;
        font-size: 2rem;
        height: 3pc;
        color: #3b423b;
      }
      .BodyPara {
        width: 100%;
        font-size: 1rem;
        user-select: text;
        text-indent: 2rem;
      }
    }
    &[state="full"] {
    width: $full;
  }
  }
}
