.ShelfArea {
  display: grid;
  width: 100%;
  grid-gap: 20px 20px;
  padding-top: 2pc;
  grid-template-columns: repeat(auto-fill, 160px);
  overflow: visible;
  margin: auto;
  justify-content: center;
  align-content: center;

  .BookGrid {
    display: inline-flex;
    overflow: visible;

    .BookCover {
      position: relative;
      border-radius: 12px;
      width: 160px;
      height: 200px;
      transition: all 180ms ease-in-out;

      background: linear-gradient(
        45deg,
        hsl(269, 34%, 58%) 0%,
        hsl(230, 72%, 68%) 100%
      );
      overflow: visible;
      background-size: 300% 300%;
      scale: 1;
      cursor: url("/public/icon/hand.png") auto;
      ::after {
        content: "";
        position: absolute;
        top: 10%;
        width: 80%;
        left: 10%;
        background-size: 100% 100%;
        height: 100%;
        background: inherit;
        z-index: -1;
        filter: blur(20px) brightness(100%) opacity(0.6);
      }

      .BookTitle {
        padding: 12px;
        margin: 20px auto;
        color: #ffffff;
        text-align: justify;
        user-select: none;
      }
      .Tip {
        background-color: #3f3d3d;
        height: 16px;
        border-radius: 12px;
        padding: 0 6px;
        font-size: 0.72rem;
        color: #ffffff;
        position: absolute;
        bottom: 4px;
        right: 4px;
      }
    }
    [state="focus"] {
      z-index: $z_focusItem;
    }
    > :hover {
      z-index: $z_focusItem;
      scale: 1.04;
      background-position: 100% 0;
    }
  }
}
