@charset "UTF-8";
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
@font-face {
  font-display: block;
  font-family: "Noto_Light";
  src: url("/public/Noto/NotoSans-Light.ttf");
}
@font-face {
  font-display: block;
  font-family: "Noto_Medium";
  src: url("/public/Noto/NotoSans-Medium.ttf");
}
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
div {
  background-color: transparent;
  color: #000000;
  font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", "sans-serif";
  font-size: 0.875rem;
  overflow: hidden;
  user-select: none;
  width: fit-content;
  height: fit-content;
}

.Hangover {
  flex: 1;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.Button {
  cursor: url("/public/icon/hand.png"), pointer;
  height: 30px;
  border-radius: 8px;
  position: relative;
  max-width: 300px;
  user-select: none;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 1px;
  background-color: transparent;
  transition: all 200ms ease;
  box-sizing: border-box;
}
.Button * {
  pointer-events: none;
}
.Button::after {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.Button .Button_Chars {
  display: inline-block;
  vertical-align: middle;
  font-family: "Noto_Medium", "HarmonyOS Sans SC", "HarmonyOS Sans", "sans-serif";
  font-size: 0.815rem;
  color: #71717a;
  margin: 0 3px;
}
.Button .Button_startIcon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
.Button .Button_startIcon svg {
  height: 100%;
  width: 100%;
  fill: rgba(121, 128, 134, 0.87);
}
.Button:hover .Button_Chars {
  color: #0f172a;
}

.btn_styled {
  background-color: #bba292;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}
.btn_styled .Button_Chars {
  color: #ffffff;
}
.btn_styled:hover {
  box-shadow: rgba(157, 149, 141, 0.5) 0 3px 8px;
}
.btn_styled:hover .Button_Chars {
  color: #ffffff;
}

.btn_check {
  background-color: #f3ece3;
}

.IconButton {
  cursor: url("/public/icon/hand.png"), pointer;
  border-radius: 50%;
  transition: all 200ms ease;
  position: relative;
  margin: 3px 2px;
  background-color: rgba(255, 227, 210, 0);
}
.IconButton * {
  pointer-events: none;
}
.IconButton .SvgIcon {
  height: 16px;
  width: 16px;
  margin: 4px;
}
.IconButton .SvgIcon svg {
  height: 100%;
  width: 100%;
  fill: rgba(121, 128, 134, 0.87);
}
.IconButton:hover {
  background-color: rgba(210, 219, 255, 0.26);
}
.IconButton:hover svg {
  fill: #798086;
}

.ListButton {
  width: 100%;
  height: 40px;
  position: relative;
  overflow: visible;
  justify-content: left;
  margin-bottom: 5px;
  padding: 8px;
}
.ListButton .Button_Chars {
  width: 100%;
}
.ListButton[state=active] {
  background-color: #2d5fe5;
}
.ListButton[state=active]::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 80%;
  left: 10%;
  height: 60%;
  background-color: inherit;
  z-index: -1;
  filter: blur(15px) brightness(100%) opacity(0.4);
}
.ListButton[state=active] .Button_Chars {
  color: #ffffff;
}

.DC {
  display: none;
}

.DX {
  display: block;
  font-size: 2rem;
  color: #e89a24;
}

.YX {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 10px;
}

.CB {
  font-size: 1.2rem;
  margin: 2px;
  padding-left: 6px;
}

.JX {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #000000;
}

hr {
  display: none;
}

.LJ {
  padding-left: 10px;
  display: block;
  margin: 5px;
}

.LS {
  opacity: 0.8;
  padding-left: 1rem;
}

.entryDot {
  display: none;
}

.section_title {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.JS > .YX {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 10px;
}
.JS > .CY {
  display: block;
  margin-bottom: 10px;
}

.loader {
  margin: calc(30% - 20px) auto;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.Menu {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  padding: 6px 6px 3px;
  overflow: visible;
}
.Menu .Divider {
  margin: 6px;
  width: auto;
}
.Menu .MenuItem {
  cursor: url("/public/icon/hand.png"), pointer;
  position: relative;
  overflow: visible;
  margin-bottom: 3px;
  width: 100%;
}
.Menu .MenuItem:hover > .MenuButton::before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(135, 151, 187, 0.14);
  content: "";
  border-radius: 8px;
}
.Menu .MenuItem .MenuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-sizing: border-box;
  user-select: none;
  border-radius: 8px;
  min-width: 80px;
  width: 100%;
  padding: 0 8px;
  height: 32px;
}
.Menu .MenuItem .MenuButton * {
  pointer-events: none;
}
.Menu .MenuItem .MenuButton:hover::before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(135, 151, 187, 0.14);
  content: "";
  border-radius: 8px;
}
.Menu .MenuItem .MenuButton svg:first-of-type {
  fill: #666666;
  scale: 1.1;
  margin-right: 5px;
}
.Menu .MenuItem .MenuButton svg:last-of-type {
  fill: #666666;
  scale: 1.1;
  margin-left: 5px;
}
.Menu .MenuItem .MenuButton .name {
  font-size: 0.81rem;
  color: #666666;
}
.Menu .MenuItem .MenuButton .shortcuts {
  font-size: 0.785rem;
  color: #666666;
}
.Menu .MenuItem .MenuButton[state=notAllowed] {
  cursor: not-allowed;
}
.Menu .MenuItem .MenuButton[state=notAllowed]:hover::before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(135, 151, 187, 0);
  content: "";
  border-radius: 8px;
}
.Menu .MenuItem .MenuButton[state=notAllowed] svg:first-of-type {
  fill: #d5d5d5;
}
.Menu .MenuItem .MenuButton[state=notAllowed] svg:last-of-type {
  fill: #d5d5d5;
}
.Menu .MenuItem .MenuButton[state=notAllowed] .name {
  color: #d5d5d5;
}
.Menu .MenuItem .MenuButton[state=notAllowed] .shortcuts {
  color: #d5d5d5;
}
.Menu .MenuItem .Button_red {
  background-color: rgba(234, 188, 188, 0.9);
}
.Menu .MenuItem .Button_red .name {
  color: #c50101;
}
.Menu .MenuItem .Button_red svg:first-of-type {
  fill: #c50101;
}
.Menu .MenuItem .Button_red:hover {
  background-color: rgba(234, 188, 188, 0.9);
}

:root {
  --toastify-toast-min-height: 34px;
  --toastify-toast-width: auto;
}

.Toastify__toast-container {
  overflow: visible;
}

.Toastify__toast {
  border-radius: 14px;
  padding: 14px;
  /*cursor: url("/public/icon/Rem/arrow.cur"), auto;*/
  min-width: 160px;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
.Divider {
  background-color: #e2e8f0;
  width: 100%;
  height: 1px;
  margin: 0.5pc 0;
}
.Divider[state=vertical] {
  height: 100%;
  width: 1px;
  margin: 0 0.5pc;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
.Modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 600;
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(49, 52, 56, 0.22);
}
.Modal .ContentBox {
  z-index: 800;
  overflow: visible;
}

.SliderContainer {
  width: 100%;
  max-width: 220px;
  min-width: 160px;
  overflow: visible;
  height: 26px;
}
.SliderContainer .Slider {
  color: #0015ff;
}
.SliderContainer .Slider .MuiSlider-track {
  border: none;
  position: relative;
  height: 22px;
}
.SliderContainer .Slider .MuiSlider-mark {
  display: none;
}
.SliderContainer .Slider .MuiSlider-markLabel {
  font-size: 0.8rem;
  display: none;
  color: #808080;
}
.SliderContainer .Slider .MuiSlider-markLabelActive {
  color: #0015ff;
}
.SliderContainer .Slider .MuiSlider-thumb {
  display: none;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.SliderContainer .Slider .MuiSlider-rail {
  background-color: #dedede;
  height: 22px;
}

.Switch {
  width: 42px;
  height: 26px;
  padding: 0;
}
.Switch .MuiSwitch-switchBase {
  transition-duration: 300ms;
}
.Switch .MuiSwitch-switchBase.Mui-checked {
  transform: translateX(16px);
  color: #fff;
}
.Switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  opacity: 1;
  background-color: #0015ff;
  border: 0;
}
.Switch .MuiSwitch-switchBase.Mui-checked.Mui-disabled + .MuiSwitch-track {
  opacity: 0.5;
}
.Switch .MuiSwitch-switchBase.Mui-focusVisible .MuiSwitch-thumb {
  border: 6px solid #fff;
}
.Switch .MuiSwitch-switchBase.Mui-disabled .MuiSwitch-thumb {
  color: #ffd700;
}
.Switch .MuiSwitch-switchBase.Mui-disabled + .MuiSwitch-track {
  opacity: 0.7;
}
.Switch .MuiSwitch-thumb {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
}
.Switch .MuiSwitch-track {
  border-radius: 26px/2;
  background-color: #39393d;
  opacity: 1;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.TextInput {
  width: 100%;
  transition: all 200ms ease;
  border-radius: 8px;
  background-color: #fff;
  max-width: 600px;
  position: relative;
  padding: 15px;
}
.TextInput :hover {
  background-color: #fff;
}
.TextInput :focus-within {
  background-color: #fff;
}
.TextInput .TextButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  scale: 1.1;
  background-color: #ffdd00;
  border-radius: 8px;
}
.TextInput .TextButton:hover {
  scale: 1;
}
.TextInput .TextButton:hover::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 80%;
  left: 10%;
  height: 60%;
  background-color: inherit;
  z-index: -1;
  filter: blur(15px) brightness(100%) opacity(0.4);
}
.TextInput .TextButton svg {
  fill: #505050;
}
.TextInput textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", "sans-serif";
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
.Pop {
  position: absolute;
  z-index: 800;
  overflow: visible;
}

.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  overflow: visible;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.BookPage {
  width: 100%;
  height: calc(100vh - 30px);
}
.BookPage .BookContents {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0, rgba(9, 30, 66, 0.08) 0 0 0 1px;
  height: calc(100vh - 30px - 40px);
  top: 50px;
  left: -270px;
  border-radius: 0.8pc;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 300ms ease;
  scrollbar-width: 8px;
  padding-left: 8px;
  padding-right: 2px;
  overflow-x: hidden;
  position: absolute;
  padding: 10px 5px;
  z-index: 1;
}
.BookPage .BookContents::-webkit-scrollbar {
  display: block;
  width: 14px;
  background-color: transparent;
  background-clip: content-box;
}
.BookPage .BookContents::-webkit-scrollbar-thumb {
  background-color: rgba(140, 140, 140, 0.3);
  height: 60px;
  border-radius: 20px;
  border: 3px solid #fff;
}
.BookPage .BookContents::-webkit-scrollbar-thumb:hover {
  background-color: rgba(140, 140, 140, 0.5);
}
.BookPage .BookContents::-webkit-scrollbar-track {
  margin: 20px 0;
  background-color: transparent;
}
.BookPage .BookContents[state=open] {
  left: 20px;
}
.BookPage .BookArea {
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 300ms ease;
  scrollbar-width: 8px;
  padding-left: 8px;
  padding-right: 2px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  width: calc(100% - 250px);
  height: calc(100vh - 30px);
  background-color: #ffffff;
}
.BookPage .BookArea::-webkit-scrollbar {
  display: block;
  width: 14px;
  background-color: transparent;
  background-clip: content-box;
}
.BookPage .BookArea::-webkit-scrollbar-thumb {
  background-color: rgba(140, 140, 140, 0.3);
  height: 60px;
  border-radius: 20px;
  border: 3px solid #fff;
}
.BookPage .BookArea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(140, 140, 140, 0.5);
}
.BookPage .BookArea::-webkit-scrollbar-track {
  margin: 20px 0;
  background-color: transparent;
}
.BookPage .BookArea::-webkit-scrollbar {
  display: block;
  width: 14px;
  background-color: transparent;
  background-clip: content-box;
}
.BookPage .BookArea::-webkit-scrollbar-thumb {
  background-color: rgba(140, 140, 140, 0.3);
  height: 60px;
  border-radius: 20px;
  border: 3px solid #fff;
}
.BookPage .BookArea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(140, 140, 140, 0.5);
}
.BookPage .BookArea::-webkit-scrollbar-track {
  margin: 20px 0;
  background-color: transparent;
}
.BookPage .BookArea .BookBody {
  margin: auto;
  width: min(100%, 860px);
  padding: 20px 20px 60px;
}
.BookPage .BookArea .BookBody .BodyTitle {
  width: fit-content;
  font-size: 2rem;
  padding: 6px;
  border-radius: 8px;
  cursor: url("/public/icon/hand.png"), pointer;
  color: #3b423b;
  transition: all 200ms ease;
}
.BookPage .BookArea .BookBody .BodyTitle:hover {
  background-color: #f6f6f6;
}
.BookPage .BookArea .BookBody .BodyPara {
  width: 100%;
  font-size: 1rem;
  user-select: text;
  text-indent: 2rem;
}
.BookPage .BookArea[state=full] {
  width: 100%;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  z-index: 200;
  border-bottom: 1px solid #dedede;
  padding: 0 4pt;
  transition: all 200ms ease;
}
.Header .Button {
  background-color: #ffffff;
  height: 24px;
  border-radius: 12px;
  padding: 0;
}
.Header .Button .Button_Chars {
  transition: all 200ms ease;
  color: #676767;
  margin: 0 3px;
  padding: 0 8px 0 0;
}
.Header .Button .Button_startIcon {
  margin: 2px;
  width: 20px;
  height: 20px;
}
.Header .Button .Button_startIcon svg {
  fill: #546dec;
}
.Header .Button:hover {
  background-color: #f6f6f6;
}
.Header .Button:hover .Button_startIcon {
  animation: rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}
.Header .logo {
  margin-top: 4px;
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 720deg;
  }
}
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
/*hover before 遮罩
*/
/*char*/
/*background*/
.ShelfArea {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 20px 20px;
  padding-top: 2pc;
  grid-template-columns: repeat(auto-fill, 160px);
  overflow: visible;
  margin: auto;
  justify-content: center;
  background-image: radial-gradient(rgba(68, 76, 247, 0.24) 0.9px, #ffffff 0.9px);
  background-size: 18px 18px;
}
.ShelfArea .book {
  display: inline-flex;
  overflow: visible;
  z-index: 1;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  backface-visibility: visible;
  height: 200px;
  transition: all 0.3s ease-in-out;
}
.ShelfArea .book .front {
  position: relative;
  cursor: url("/public/icon/hand.png"), pointer;
  overflow: visible;
  height: 100%;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 160px;
  background-color: #546dec;
  transition: all 0.3s ease-in-out;
}
.ShelfArea .book .front .BookTitle {
  padding: 12px;
  margin: 20px auto;
  text-align: justify;
  user-select: none;
  color: #ffffff;
}
.ShelfArea .book .front .Tip {
  background-color: #7da953;
  height: 16px;
  border-radius: 12px;
  padding: 0 6px;
  font-size: 0.72rem;
  color: #ffffff;
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.ShelfArea .book .front .progress {
  color: #ffffff;
  font-size: 0.72rem;
  position: absolute;
  bottom: 5px;
  left: 8px;
}
.ShelfArea .book:hover .front {
  box-shadow: rgb(229, 198, 198) 0 0 0 5px;
}
.ShelfArea .book[state=current] .front {
  box-shadow: rgb(229, 198, 198) 0 0 0 5px;
}

/*font size*/
/*border radius*/
/*border*/
/*padding*/
/*height and size*/
/*width*/
/*cursor*/
/*transition*/
/*z index*/
/*border*/
/*font*/
/*shadow*/
/*
Flex
*/
/*

scroll*/
.Setting {
  display: flex;
  flex-direction: row;
  margin: auto;
  overflow: scroll;
  justify-content: center;
  height: calc(100vh - 30px);
  width: 100%;
  padding: 30px;
}
.Setting .SettingBar {
  display: flex;
  flex-direction: column;
  width: 180px;
  min-width: 180px;
  height: calc(100vh - 30px - 60px);
  padding: 0 5px;
  border: 1px solid rgba(206, 204, 204, 0.6);
  border-radius: 8px;
}
.Setting .SettingBar .Divider {
  margin: 0.1pc 0;
}
.Setting .SettingBar .Button {
  height: 40px;
  padding: 0 20px;
  margin: 5px 0;
  width: 100%;
}
.Setting .SettingPairs {
  padding: 20px;
  width: 360px;
  overflow: visible;
}
.Setting .SettingPairs .SettingBox {
  margin: 10px auto;
  width: 100%;
  overflow: visible;
}
.Setting .SettingPairs .SettingBox .SettingLabel {
  color: #5f6065;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.Setting .SettingPairs .SettingBox .Option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 2px solid rgba(206, 204, 204, 0.6);
  position: relative;
  overflow: visible;
}
.Setting .SettingPairs .SettingBox .Option::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 0.725rem);
  left: 0.75rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.Setting .SettingPairs .SettingBox .Option::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #b5bfd9;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
}
.Setting .SettingPairs .SettingBox .Option:hover {
  border-color: #6a8dea;
}
.Setting .SettingPairs .SettingBox .Option:hover::before {
  transform: scale(1);
  opacity: 1;
}
.Setting .SettingPairs .SettingBox .Option[state=actived] {
  color: #2260ff;
  border-color: #2260ff;
}
.Setting .SettingPairs .SettingBox .Option[state=actived]::before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}
.Setting .SettingPairs .SettingBox .Option[state=actived]::after {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  cursor: url("/public/icon/default.png"), auto;
}
body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.draggable {
  -webkit-app-region: drag;
}

/*# sourceMappingURL=index.css.map */
