@import "../@variants/constant";
@import "../@variants/color";

.Button {
  @include xFlex;
  @include FlexCenter;
  @include NoBubbling;
  cursor: $pointer;
  height: $height_button;
  border-radius: $br_btn;
  position: relative;
  max-width: 300px;
  user-select: none;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 1px;
  background-color: $transparent;
  transition: $trans_default;

  .Button_Chars {
    font-family: $button_font;
    font-size: $fs_button;
    color: $color_button;
  }
  &:hover {
    @include bc_hover($bc_btn_hover_before);
    .Button_Chars {
      color: $color_button_hover;
    }
  }

}

.IconButton {
  @include NoBubbling;
  cursor: $pointer;
  border-radius: $br_iconButton;
  transition: $trans_default;
  position: relative;
  margin: 3px;
  background-color: $bc_ico;

  .SvgIcon {
    height: $size_icon;
    width: $size_icon;
    margin: $size_icon / 4;
    svg {
      @include Max;
      fill: $fill_icon;
    }
  }
  &:hover {
    background-color: $bc_ico_hover;
    svg {
      fill: $fill_icon_hover;
    }
  }
}

.ListButton {
  width: $full;
  height: $height_listButton;
  position: relative;
  overflow: visible;
  justify-content: left;
  margin-bottom: 5px;
  padding: 8px;
  .Button_Chars {
    width: $full;
  }

  &[state="active"] {
    @include dynamic_shadow;
    background-color: $bc_button_focus;
    .Button_Chars {
      color: $color_button_focus;
    }
  }

}
