@import "../@variants/constant";
@import "../@variants/color";

$color_menu_btn :#666666;
$color_menu_btn_notAllowed : #d5d5d5;

.Menu {
  background-color: $bc_menu;
  border-radius: $br_menu;
  box-shadow: $boxShadow;
  padding: 6px 6px 3px;
  overflow: visible;

  .Divider {
    margin: 6px;
    width: auto;
  }

  .MenuItem {
    cursor: $pointer;
    position: relative;
    overflow: visible;
    margin-bottom: 3px;
    &:hover {
      > .MenuButton {
        @include bc_hover(rgba(135, 151, 187, 0.14))
      }
    }
    .MenuButton {
      @include xFlex;
      @include NoBubbling;
      @include FlexCenter;
      white-space: nowrap;
      box-sizing: content-box;
      user-select: none;
      border-radius: $br_btn;
      min-width: 200px;

      padding: 0 8px;
      height: $height_menuButton;
      &:hover {
        @include bc_hover(rgba(135, 151, 187, 0.14))
      }
      svg:first-of-type {
        fill:$color_menu_btn;
        scale: 1.1;
        margin-right: 5px;
      }
      svg:last-of-type {
        fill: $color_menu_btn;
        scale: 1.1;
        margin-left: 5px;
      }
      .name {
        font-size: 0.81rem;
        color: $color_menu_btn;
      }
      .shortcuts {
        font-size: 0.785rem;
        color: $color_menu_btn;
      }

      &[state='notAllowed'] {
        &:hover {
          @include bc_hover(rgba(135, 151, 187, 0))
        }
        cursor: not-allowed;
        svg:first-of-type {
          fill: $color_menu_btn_notAllowed;
        }
        svg:last-of-type {
          fill: $color_menu_btn_notAllowed;
        }
        .name {
          color: $color_menu_btn_notAllowed;
        }
        .shortcuts {
          color: $color_menu_btn_notAllowed;
        }

      }
    }
  }
}
