.SliderContainer {
  width: 100%;
  max-width: 220px;
  min-width: 160px;
  overflow: visible;
  .Slider {
    color: #0015ff;
    & .MuiSlider-track {
      border: none;
      position: relative;
    }
    & .MuiSlider-mark {
      display: none;
    }
    & .MuiSlider-markLabel {
      font-size: 0.8rem;
      color: #808080;
    }
    & .MuiSlider-markLabelActive {
      color: #0015ff;

    }

    & .MuiSlider-thumb {
      transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    }
    & .MuiSlider-rail {
      background-color: #dedede;
    }
  }
}
