


:root {
  --toastify-toast-min-height: 34px;
  --toastify-toast-width: auto;
}
.Toastify__toast-container {
}

.Toastify__toast {
  border-radius: 14px;
  padding: 14px;
  /*cursor: url("/public/icon/Rem/arrow.cur"), auto;*/

  min-width: 160px;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
}
