@import "slider.css";
@import "dict.css";
html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    cursor: url("/public/default.png"), auto;
}

::-webkit-scrollbar {
    display: none;
}

.draggable {
    -webkit-app-region: drag;
}
@font-face {
    font-display:block;
    font-family: "Noto_Light";
    src: url("/public/Noto/NotoSans-Light.ttf");
}

@font-face {
    font-display:block;
    font-family: "Noto_Medium";
    src: url("/public/Noto/NotoSans-Medium.ttf");
}

:root {
    --toastify-toast-min-height: 34px;
    --toastify-toast-width:auto;
}

.Toastify__toast-container{

}

.Toastify__toast{
    border-radius: 14px;
    padding: 14px;
    cursor: url("/public/hand.png"), auto;

    min-width: 160px;
}

.Toastify__toast-body{
    margin: 0;
    padding: 0;
}
