@import "app";
@import "docker";
@import "book";
@import "header";
@import "shelf";
@import "settings";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  cursor: url("/public/icon/default.png"), auto;
  * {
    box-sizing: border-box;
  }
}
::-webkit-scrollbar {
  display: none;
}

.draggable {
  -webkit-app-region: drag;
}
