@import "../@variants/constant";

.Setting {
  height: $height_body;
  width: $full;

  .Docker {
    width: 180px;
    min-width: 180px;
    padding: 0 5px;

    .body {

      @include yFlex;
      height: calc(100% - 25px);
    }

    .Divider {
      margin: 0.1pc 0;
    }

    .Button {
      height: 40px;
      padding: 0 20px;
      margin: 5px 0;
      width: 100%;
    }
  }

  .Body {
    .SettingBox {
      .title {
        margin: 25px 10px 10px 10px;
      }

      .SettingLabel {
        color: #5f6065;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .Options {
        width: max-content;
        border: $b_settingBar;
        border-radius: 8px;
        white-space: nowrap;
        padding: 1px;


        .Option {
          cursor: $pointer;
          display: inline-flex;
          @include FlexCenter;
          margin: 2px;
          height: 30px;
          padding: 10px;
          width: max-content;
          border-radius: 5px;
          position: relative;

          &:hover {
            background-color: #f1f1f1;

            &::before {
              transform: scale(1);
              opacity: 1;
            }
          }

          &[state="actived"] {
            background-color: #2260ff;
            color: #ffffff;
          }
        }
      }
    }
  }
}
