@import "../@variants/constant";
@import "../@variants/color";

.Setting {
  height: $height_body;
  width: $full;

  .Docker {
    width: 180px;
    min-width: 180px;
    padding: 0 5px;

    .body {

      @include yFlex;
      height: calc(100% - 25px);
    }

    .Divider {
      margin: 0.1pc 0;
    }

    .Button {
      box-sizing: border-box;
      height: 40px;
      padding: 0 20px;
      margin: 5px 0;
      width: 100%;
    }
  }

  .Body {
    .SettingBox {
      .title {
        margin: 25px 10px 10px 10px;
      }

      .SettingLabel {
        color: #5f6065;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .Options {
        position: relative;
        width: max-content;
        border-radius: 14px;
        white-space: nowrap;
        padding: 1px;
        background-color: #f5f6f8;

        .actived {
          @include dynamic_shadow;
          background-color:$bc_button_focus;
          height: 86%;
          top: 7%;
          border-radius: 12px;
          position: absolute;
        }


        .Option {
          z-index: 1;
          cursor: $pointer;
          display: inline-flex;
          @include FlexCenter;
          margin: 2px;
          height: 30px;
          padding: 10px;
          width: max-content;
          border-radius: 5px;
          position: relative;
          transition: $trans_default;
          &[state="selected"] {
            color: #ffffff;
          }
        }


      }
    }
  }
}
