@import "../@variants/constant";
@import "../@variants/color";

.ShelfArea {
  width: $full;
  height: $height_body;
  z-index: 1;

  .Docker {
    height: fit-content;
    padding: 0 5px 5px 5px;

    .body {
      .DockerButton {
        width: 30px;
        height: 30px;
        padding: 5px;
        margin-top: 0;
        border-radius: 14px;
        justify-content: center;
        align-content: center;
        cursor: $pointer;
        overflow: visible;
        position: relative;
        box-sizing: content-box;
        touch-action: none;
        svg {
          opacity: 0.64;
        }

        &:hover {
          background-color: rgba(235, 236, 239, 0.71);
        }

        &:active {
          scale: 0.96;

        }
      }
    }
  }

  .Body {
    width: calc($full - 85px);
    height: $height_body;
    overflow-y: scroll;

    .book {
      position: relative;
      cursor: pointer;
      @include FlexCenter;
      @include xFlex;
      margin-bottom: 15px;
      height: 60px;
      width: $full;
      border-radius: 12px;
      transition: all 0.15s ease;
      background-color: #fafafa;
      touch-action: none;

      &:hover {
        box-shadow: 0 0 0 4px rgba(200, 211, 225, 0.56);
      }

      &:active {
        scale: 0.96;
      }

      .selected {
        margin: 10px;
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        min-width: 1.4rem;
        min-height: 1.4rem;
        border: 4px solid rgba(220, 220, 222, 0.64);
        border-radius: 50%;
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
        transition: all 0.25s ease;
        background-color: #6281b2;
        z-index: 1;
        overflow: hidden;
        white-space: nowrap;
      }

      .BookTitle {
        text-align: justify;
        user-select: none;
        font-size: 0.92rem;
        color: #2a2a2a;
        z-index: 1;
        letter-spacing: 0.06rem;
      }

      .current {
        color: white;
        font-size: $fs_mark;
        width: 24px;
        height: 24px;
        margin-right: 15px;
        margin-left: 25px;

        svg {
          fill: #5e7491;
        }
      }

      .progress {
        position: absolute;
        height: $full;
        background-color: rgba(228, 232, 238, 0.49);
        top: 0;
        left: 0;
      }

      &[state="selected"] {
        box-shadow: 0 0 0 4px rgba(200, 211, 225, 0.86);

        .selected {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}
