@import "../@variants/constant";
@import "../@variants/color";


 @mixin book_shadow {
&::after {
  content: "";
  position: absolute;
  top: 10%;
  width: 100%;
  left: 0;
  height: 80%;
  background-color: inherit;
  z-index: -1;
  filter: blur(15px) brightness(100%) opacity(0.3);
}
}

.ShelfArea {
  width: $full;
  height: $height_body;
  z-index: 1;
  background-image: radial-gradient(
    rgba(68, 76, 247, 0.24) 0.9px,
    #ffffff 0.9px
  );
  background-size: 18px 18px;

  .Docker {
    height: fit-content;
    padding: 0 5px 5px 5px;

    .body {
      .DockerButton {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        border-radius: 14px;
        justify-content: center;
        align-content: center;
        cursor: $pointer;
        overflow: visible;
        position: relative;
        touch-action: none;

        &:hover {
          background-color: #dedede;
        }

        &:active {
          scale: 0.96;
        }
      }
    }
  }

  .Body {
    display: grid;
    width: calc($full - 85px);
    overflow: visible;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-template-rows: repeat(auto-fill, 200px);
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;

    .book {
      position: relative;
      cursor: pointer;
      height: 200px;
      width: 160px;
      border-radius: 12px;
      padding: 0;
      touch-action: none;
      transition:all 0.15s ease;
      text-align: center;
      background-color: #3c70ec;
      overflow: visible;
      box-sizing: border-box;

      &:hover {
        outline: 0;
        box-shadow: 0 0 0 4px rgba(70, 24, 238, 0.4);
      }

      &:active {
        scale: 0.96;
      }

      .selected {
        position: absolute;
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        border: 3px solid #b5bfd9;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
        transition:  all 0.25s ease;
        background-color: #fce599;
        z-index: 1;
        overflow: hidden;
        white-space: nowrap;
        svg{
          box-sizing: border-box;
          padding: 2px;
          width: 100%;
          stroke-width: 5px;
          height: 100%;
          fill: #3c70ec;
        }
      }

      .BookTitle {
        padding: 12px;
        margin: 20px auto;
        text-align: justify;
        user-select: none;
        color: #ffffff;
      }

      .Tip {
        background-color: #7da953;
        height: 16px;
        border-radius: 12px;
        padding: 0 6px;
        font-size: $fs_mark;
        color: #ffffff;
        position: absolute;
        bottom: 4px;
        right: 4px;
      }
      .current {
        position: absolute;
        bottom: 25px;
        color: white;
        font-size: $fs_mark;
        width: 100%;
        background-color: #ffd900;
      }

      .progress {
        color: #ffffff;
        font-size: $fs_mark;
        position: absolute;
        bottom: 5px;
        left: 8px;
      }

      &[state="current"] {
        box-shadow: rgb(229, 198, 198) 0 0 0 5px;
      }

      &[state="selected"] {
        box-shadow: 0 0 0 4px #b5c9fc;

        .selected {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}
